[submodule "DialogPolifill/dialog-polyfill"]
	path = DialogPolifill/dialog-polyfill
	url = https://github.com/GoogleChrome/dialog-polyfill
[submodule "Dialog/dialog-polyfill"]
	path = Dialog/dialog-polyfill
	url = https://github.com/GoogleChrome/dialog-polyfill
[submodule "BootstrapMisc/bootstrap-slider"]
	path = BootstrapMisc/bootstrap-slider
	url = https://github.com/seiyria/bootstrap-slider
